In [1]:
import pandas as pd

### Metadata
------------
This section contains the metadata information that is constant for all the notebooks submitted for this data.

In [2]:
# Read metadata.
column_description = pd.read_csv("./data/variable-descriptions.csv", header=2, usecols=["Name", "Description"])
plane_data = pd.read_csv("./data/plane-data.csv")
carrier_data = pd.read_csv("./data/carriers.csv")
airports = pd.read_csv("./data/airports.csv")

In [3]:
# Data details.
variable_index_labels = ['Num Airports', 'Num Carriers', 'Num Planes']
pd.Series([airports.size, carrier_data.size, plane_data.size], index=variable_index_labels)

Num Airports    23632
Num Carriers     2982
Num Planes      45261
dtype: int64

In [4]:
# This gives a description of each data dimension.
column_description

                 Name                                        Description
0                Year                                          1987-2008
1               Month                                             12-Jan
2          DayofMonth                                             31-Jan
3           DayOfWeek                            1 (Monday) - 7 (Sunday)
4             DepTime                actual departure time (local, hhmm)
5          CRSDepTime             scheduled departure time (local, hhmm)
6             ArrTime                  actual arrival time (local, hhmm)
7          CRSArrTime               scheduled arrival time (local, hhmm)
8       UniqueCarrier                                unique carrier code
9           FlightNum                                      flight number
10            TailNum                                  plane tail number
11  ActualElapsedTime                                         in minutes
12     CRSElapsedTime                                         in minutes
13            AirTime                                         in minutes
14           ArrDelay                          arrival delay, in minutes
15           DepDelay                        departure delay, in minutes
16             Origin                           origin IATA airport code
17               Dest                      destination IATA airport code
18           Distance                                           in miles
19             TaxiIn                           taxi in time, in minutes
20            TaxiOut                           taxi out time in minutes
21          Cancelled                          was the flight cancelled?
22   CancellationCode  reason for cancellation (A = carrier, B = weat...
23           Diverted                                    1 = yes, 0 = no
24       CarrierDelay                                         in minutes
25       WeatherDelay                                         in minutes
26           NASDelay                                         in minutes
27      SecurityDelay                                         in minutes
28  LateAircraftDelay                                         in minutes

### Data Description
--------------------

The data in this section inludes information about the dataset collected for the years 1999 to 2004, which is refered to as the collection 
period from here onwards.

In [ ]:
combined_df = pd.DataFrame()
for chunk in pd.read_csv("./data/1999-2004-combined.csv", chunksize=500000, encoding='ISO-8859-1'):
    combined_df = pd.concat([combined_df, chunk], ignore_index=True)

/tmp/ipykernel_321854/1902553724.py:2: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv("./data/1999-2004-combined.csv", chunksize=500000, encoding='ISO-8859-1'):

In [ ]:
# The number of records collected during the collection period.
len(combined_df)

In [ ]:
# The number of datapoints per year during the collection period.
combined_df['Year'].value_counts()

In [ ]:
# Data types information
combined_df.info()

In [ ]:
# Missing data as a percentage for the collection period.
(combined_df.isnull().sum() / len(combined_df)) * 100

In [ ]:
# The number of records collected for each carrier. Carriers not present here did not have datapoints collected during the collection period.
combined_df['UniqueCarrier'].value_counts()

In [ ]:
# Number of records for each month of the year for the collection period.
combined_df['Month'].value_counts().sort_index()