In [1]:
import pandas as pd

### Metadata
------------
This section contains the metadata information that is constant for all the notebooks submitted for this data.

In [2]:
# Read metadata.
column_description = pd.read_csv("./data/variable-descriptions.csv", header=2, usecols=["Name", "Description"])
plane_data = pd.read_csv("./data/plane-data.csv")
carrier_data = pd.read_csv("./data/carriers.csv")
airports = pd.read_csv("./data/airports.csv")

In [3]:
# Data details.
variable_index_labels = ['Num Airports', 'Num Carriers', 'Num Planes']
pd.Series([airports.size, carrier_data.size, plane_data.size], index=variable_index_labels)

Num Airports    23632
Num Carriers     2982
Num Planes      45261
dtype: int64

In [4]:
# This gives a description of each data dimension.
column_description

                 Name                                        Description
0                Year                                          1987-2008
1               Month                                             12-Jan
2          DayofMonth                                             31-Jan
3           DayOfWeek                            1 (Monday) - 7 (Sunday)
4             DepTime                actual departure time (local, hhmm)
5          CRSDepTime             scheduled departure time (local, hhmm)
6             ArrTime                  actual arrival time (local, hhmm)
7          CRSArrTime               scheduled arrival time (local, hhmm)
8       UniqueCarrier                                unique carrier code
9           FlightNum                                      flight number
10            TailNum                                  plane tail number
11  ActualElapsedTime                                         in minutes
12     CRSElapsedTime                                         in minutes
13            AirTime                                         in minutes
14           ArrDelay                          arrival delay, in minutes
15           DepDelay                        departure delay, in minutes
16             Origin                           origin IATA airport code
17               Dest                      destination IATA airport code
18           Distance                                           in miles
19             TaxiIn                           taxi in time, in minutes
20            TaxiOut                           taxi out time in minutes
21          Cancelled                          was the flight cancelled?
22   CancellationCode  reason for cancellation (A = carrier, B = weat...
23           Diverted                                    1 = yes, 0 = no
24       CarrierDelay                                         in minutes
25       WeatherDelay                                         in minutes
26           NASDelay                                         in minutes
27      SecurityDelay                                         in minutes
28  LateAircraftDelay                                         in minutes

### Data Description
--------------------

The data in this section inludes information about the dataset collected for the years 1993 to 1998, which is refered to as the collection 
period from here onwards.

In [5]:
combined_df = pd.read_csv("./data/1993-1998-combined.csv", low_memory=False, encoding='ISO-8859-1')

In [6]:
# The number of records collected during the collection period.
len(combined_df)

31726531

In [7]:
# The number of datapoints per year during the collection period.
combined_df['Year'].value_counts()

Year
1997    5411843
1998    5384721
1996    5351983
1995    5327435
1994    5180048
1993    5070501
Name: count, dtype: int64

In [8]:
# Data types information
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31726531 entries, 0 to 31726530
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           float64
 19  TaxiIn             float64
 20  TaxiOut            float64
 21  Cancelled          int64
 22  CancellationCode   float64
 23  Diverted           int64
 24  CarrierDelay       float64
 25  WeatherDelay       float64
 26  NASDelay           float64
 27  SecurityDelay      float64
 28  LateAircraftDelay  float64
dtypes: float64(16), int64(9), object(4)
memory usage: 6.9+ GB

In [9]:
# Missing data as a percentage for the collection period.
(combined_df.isnull().sum() / len(combined_df)) * 100

Year                   0.000000
Month                  0.000000
DayofMonth             0.000000
DayOfWeek              0.000000
DepTime                1.857430
CRSDepTime             0.000000
ArrTime                2.085296
CRSArrTime             0.000000
UniqueCarrier          0.000000
FlightNum              0.000000
TailNum               32.309076
ActualElapsedTime      2.085296
CRSElapsedTime         0.047689
AirTime               33.760606
ArrDelay               2.085296
DepDelay               1.857430
Origin                 0.000000
Dest                   0.000000
Distance               0.112871
TaxiIn                32.309076
TaxiOut               32.309076
Cancelled              0.000000
CancellationCode     100.000000
Diverted               0.000000
CarrierDelay         100.000000
WeatherDelay         100.000000
NASDelay             100.000000
SecurityDelay        100.000000
LateAircraftDelay    100.000000
dtype: float64

In [10]:
# The number of records collected for each carrier. Carriers not present here did not have datapoints collected during the collection period.
combined_df['UniqueCarrier'].value_counts()

UniqueCarrier
DL    5382692
US    4613187
UA    4240215
AA    4170856
WN    4114196
NW    3087027
CO    2555851
TW    1605725
HP    1161491
AS     795291
Name: count, dtype: int64

In [11]:
# Number of records for each month of the year for the collection period.
combined_df['Month'].value_counts().sort_index()

Month
1     2669897
2     2437969
3     2700257
4     2608065
5     2670535
6     2630987
7     2717437
8     2745066
9     2603676
10    2699640
11    2567559
12    2675443
Name: count, dtype: int64